<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<link rel="stylesheet" href="/webStatic/css/weui.min.css"/>
	<style>
		div,body,img{
			margin:0;
			padding: 0;
		}
		a{
			cursor: pointer;
			text-decoration: none;
		}
		.header{
			width:98%;
			height:40px;
			padding-left:10px;
			line-height: 40px;
			background-color:#84A35D;
			color: #ffffff;
		}
		.header a{
			color: #ffffff;
		}
		.afloat{
			float: left;
		}
		.form_div{
			width: 83%;
			min-height: 400px;
			height: auto;
			margin: 10px;
			padding: 10px 20px 10px 20px;
			border-radius:5px; 
			border: 1px dashed #aaa;
		}
		.form_div > form > div{
			min-height: 40px;
			height: auto;
			line-height: 40px;
			width: 100%;
			border: 1px solid #fff;
		}
		.form_div > form > div > span{
			color: #555;
		}
		.form_div > form > div > select{
			width: 150px;
			height: 25px;
			border: 1px solid #eee;
			border-radius: 5px;
		}
		.form_div > form > div > input{
			width: 145px;
			height: 20px;
			border: 1px solid #eee;
			border-radius: 5px;
		}
	</style>
</head>
<body>
	<div class="header">
		<a class="afloat" href="/assignlist/?id={{id}}"><i class="weui_icon_cancel"></i> 返回</a>
		<!-- <p style="display: inline-block;width: 2px;height: 20px;background-color: #fff;margin: 10px;float: left;"></p> -->
		
		<!-- <a href="" id="delete_pro" style="color: #DD574B;float: right;margin-right: 10px;">删除</a> -->
		<input type="hidden" id="hidden_change" value="{{isheader}}">
	</div>
	<div class="form_div">
		<form id="bug_form" method = 'post'  action = 'user_login_submit.action'>
			<div>
				<span>BUG名称：</span>
				<input type="text" name="inp_name" readOnly="readOnly"id="inp_name">
			</div>
			<div>
				<span>BUG内容：</span>
				<div class="weui_cells weui_cells_form">
			        <div class="weui_cell">
			            <div class="weui_cell_bd weui_cell_primary">
			                <textarea readOnly="readOnly"name="area_description" id="area_description" style="width: 200px;" class="weui_textarea" id="memor_content" placeholder="输入文字" rows="10"></textarea>
			            </div>
			        </div>
    			</div>
			</div>
			<div>
				<span>BUG优先级：</span>
				<input type="text" id="inp_level" readOnly="readOnly" name="inp_level">
			</div>
			<div>
				<span>BGU状态：</span>
				<select name="sel_status" id="sel_status">
					<!--<option value="未分配">未分配</option>-->
					<option value="进行中">进行中</option>
					<option value="已完成">已完成</option>
				</select>
			</div>
		</form>
		<form id="demand_form"  method = 'post'  action = 'user_login_submit.action'>
			<div>
				<span>&nbsp;&nbsp;需求名称：</span>
				<input type="text" name="inp_name" id="inp_name">
			</div>
			<div>
				<span>&nbsp;&nbsp;需求描述：</span>
				<div class="weui_cells weui_cells_form">
			        <div class="weui_cell">
			            <div class="weui_cell_bd weui_cell_primary">
			                <textarea name="area_description" id="area_description" style="width: 200px;" class="weui_textarea" id="memor_content" placeholder="输入文字" rows="10"></textarea>
			            </div>
			        </div>
    			</div>
			</div>
			<div>
				<span>需求优先级：</span>
				<input type="text" id="inp_level" name="inp_level">
			</div>
			<div>
				<span>&nbsp;&nbsp;需求状态：</span>
				<select name="sel_status" id="sel_status">
					<!--<option value="未分配">未分配</option>-->
					<option value="进行中">进行中</option>
					<option value="已完成">已完成</option>
				</select>
			</div>
		</form>
		<div style="border-top: 1px solid #aaa;margin-top: 20px;padding-top: 10px;">
			<span style="color: #555;">日志信息</span>
			{% for log in logs %}
			<div style="border-bottom: 1px dashed #aaa;margin:15px 0 10px 0;">
				<p style="color: #555;font-size: 14px;">{{log.LogContent}}</p>
				<p style="color: #555;font-size: 14px;"><span>{{log.name}}</span>&nbsp;&nbsp;<span>{{log.CreateTime}}</span></p>
			</div>
			{% empty %}暂无日志
    		{% endfor %}
			<div class="weui_cells weui_cells_form">
			        <div class="weui_cell">
			            <div class="weui_cell_bd weui_cell_primary">
			                <textarea name="area_log" id="area_log" style="width: 200px;" class="weui_textarea" id="memor_content" placeholder="输入文字" rows="10"></textarea>
			            </div>
			        </div>
    			</div>
		</div>
		<a href="#" id="pro_next" style="color: #555;"><i class="weui_icon_success_circle"></i> 添加</a>
	</div>
	<script src="/webStatic/js/jquery.min.js"></script>
	<!-- <script src="../jquery.min.js"></script> -->
	<script>
	$(function(){
		var type='{{type}}';
		$("#bug_form").hide();
		$("#demand_form").hide();
		if(type=="demand"){
			$("#delete_pro").attr("href","/deleteassign/?id={{id}}&assignid={{assign.id}}")
			demandform();
			var jsondata={};
			var pro_id={{id}};
			var assignid={{assign.id}};
			var status=$("#demand_form").find("#sel_status").val();
			var LogContent=$("#area_log").val();
			jsondata['id']=pro_id;
			jsondata['assignid']=assignid;
			jsondata['status']=status;
			jsondata['LogContent']=LogContent;
			jsondata['type']='demand';
			$("#pro_next").click(function(){
			    jsondata['LogContent']=$("#area_log").val();
				postform(jsondata);
			})
		}
		if(type=="bug"){
			$("#delete_pro").attr("href","/deleteassign/?id={{id}}&assignid={{assign.id}}")
			bugform();
			var jsondata={};
			var pro_id={{id}};
			var assignid={{assign.id}};
			var status=$("#bug_form").find("#sel_status").val();
			var LogContent=$("#area_log").val();
			jsondata['id']=pro_id;
			jsondata['type']='bug';
			jsondata['assignid']=assignid;
			jsondata['status']=status;
			jsondata['LogContent']=LogContent;
			$("#pro_next").click(function(){
			    jsondata['LogContent']=$("#area_log").val();
				postform(jsondata);
			})
		}

		$("#")
	})
	function demandform(){
		$("#demand_form").show();
		$("#demand_form").find("#inp_name").val('{{assign.DemandId.DemandName}}');
		$("#demand_form").find("#area_description").val('{{assign.DemandId.DemandDescribe}}');
		$("#demand_form").find("#sel_status").val('{{assign.DemandId.DemandStatus}}');
		$("#demand_form").find("#inp_level").val('{{assign.DemandId.Level}}');
	}
	function bugform(){
		$("#bug_form").show();
		$("#bug_form").find("#inp_name").val('{{assign.BugId.BugTitle}}');
		$("#bug_form").find("#area_description").val('{{assign.BugId.BugContent}}');
		$("#bug_form").find("#sel_status").val('{{assign.BugId.BugStatus}}');
		$("#bug_form").find("#inp_level").val('{{assign.BugId.Level}}');
	}
		function postform(jsondata){
			$.ajaxSetup({ 
				async : false 
			}); 
    		$.ajax({
    			url:"/assigndetail/",
    			type:"post",
    			data:jsondata,
    			success:function(data){
                location.href="/assigndetail/?id={{id}}&assignid={{assign.id}}";
    			},
    			error:function(xhr){
    				alert("出错"+xhr.responseText);
    			}
    		});
    	}
	</script>
</body>
</html>
